button{
    display: block;
    margin: auto;
    padding: 10px;
    width: 80%;
    background-color: green;
    color: white;
    border-radius: 12px;
}

button:hover{
    background: linear-gradient(0deg, red , blue);
    transform: scale(1.2);
}